<h1>Dashboard</h1>
<div class="row">
    <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item"><%= link_to "Add preference", preference_path %></li>
      <li class="list-group-item"><%= link_to "Meal status", status_path %></li>
        <% if !current_user.superuser? %>
        <li class="list-group-item"><%= link_to "Reports", reports_path %></li>
        <% else %>
        <li class="list-group-item"><%= link_to "Managers Panel", manager_panel_path %></li>
        <li class="list-group-item"><%= link_to "Lunch Manager", lunch_manager_path %></li>
        <li class="list-group-item"><%= link_to "Dinner Manager", dinner_manager_path %></li>
        <li class="list-group-item"><%= link_to "Reports", reports_path %></li>
        <li class="list-group-item"><%= link_to "Add lunch menu", create_new_lunch_menu_path %></li>
        <li class="list-group-item"><%= link_to "Add dinner menu", create_new_dinner_menu_path %></li>

        <% end %>
    </ul>
    </div>
</div>
