<% unless @lunchrecords.nil? %>
<h2><b><u><i><%= yield(:lunch_record_title) %></i></u></b></h2>
  <h2><pre>Total: <%= @lunchrecords.count %>           Total cost: <%= generate_lunch_cost(@lunchrecords) %></pre></h2>
<table style="width:100%" class="table">
  <tr>
    <th>Year</th>
    <th>Month</th>
    <th>Date</th>
    <th>Name</th>
    <th>Items</th>
    <th>Cost</th>
  </tr>
  <% @lunchrecords.each do |record| %>
  <tr>
    <td><%= record.year %></td>
    <td><%= record.month %></td>
    <td><%= record.day %></td>
    <td><%= User.find(record.user_id).name %></td>
    <td><%= LunchMeal.find(record.lunch_meal_id).items %></td>
    <td><%= LunchMeal.find(record.lunch_meal_id).cost %></td>
  </tr>
  <% end %>
</table>
<% end %>