<% unless @lunchrecords.nil? %>
<h2><%= yield(:lunch_record_title) %></h2>
<table style="width:100%" class="table">
  <tr>
    <th>Year</th>
    <th>Month</th>
    <th>Date</th>
    <th>Name</th>
    <th>Items</th>
    <th>Cost</th>
  </tr>
  <% day = nil %>
  <% @lunchrecords.each do |record| %>
  <tr>
    <td><%= record.year %></td>
    <td><%= record.month %></td>
    <td><%= record.day %></td>
    <td><%= User.find(record.user_id).name %></td>
    <td><%= record.lunch_meal_id %></td>
    <td>none</td>
  </tr>
  <% end %>
</table>
<% end %>