<% unless @records.nil? %>
<div class="jumbotron"><h1>Total : <%= @records.count %></h1></div>
 <table style="width:100%" class="table">
  <tr>
    <th>Year</th>
    <th>Month</th>
    <th>Date</th>
    <th>Name</th>
    <th>Lunch</th>
    <th>Dinner</th>
  </tr>
  <% day = nil %>
  <% @records.each do |record| %>
  <tr>
    <%= record %>
  </tr>
  <% end %>
</table>
<% end %>

    <%
=begin%>
 <td><%= record.lunches.year %></td>
    <td><%= record.lunches.month%></td>
    <% if day != record.day %>
    <% day = record.lunches.day %>
    <%end%>
    <td><%= record.lunches.day %></td>
    <td><%= record.count %></td>
    <td><%= "Yes" if record.hadlunch? %></td>
    <td><%= "No" if record.haddinner? %></td> 
<%
=end%>
