<%provide(:title,"Meal Report")%>
<%provide(:lunch_record_title,"Lunch Records")%>
<%provide(:dinner_record_title,"Dinner Records")%>

<div class="row" style="margin:10px;">
    <%= form_for(:account,url:reports_path) do |f| %>
    <% if current_user.superuser? %>
    <%= f.check_box :showall, class: "check-box"  %>
    <h4 style="color:red;"><%= f.label :showall, "Show All" %></h4>
    <% end %>
    <br/>
    <%= f.date_select :expired,:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' } %>
    <%= f.submit "Submit", class:"btn btn-primary" %>
    <% end %>
    
    <%= render 'meal_account_factory/lunch_account' %>
    <%= render 'meal_account_factory/dinner_account' %>
</div>