<%provide(:title,"Meal Report")%>

<div class="row">
    <%= form_for(:account,url:reports_path) do |f| %>
    <%= f.select :year, ((Time.now.year-1)..(Time.now.year+1)), { }, class: "form-control"%>
    <%= f.select :month, Date::MONTHNAMES[0..12], { }, class:"form-control"%>
    <%= f.submit "Submit", class:"btn btn-primary" %>
    <% end %>

    <%= render 'meal_account_factory/meal_account' %>
</div>