<style>
.center {
}
</style>

<div class="row">
    <%= form_for(:lunch_meal,url: create_new_lunch_menu_path) do |f| %>
    <div class="col-md-4">
        <%= f.label :items %>
        <%= f.text_field :items, class: 'form-control'%>
        <br/>
        <%= f.label :cost %>
        <%= f.number_field :cost, class: 'form-control' %>    
        <span class="picture">
        <%= f.file_field :picture %>
        </span>
        <%= f.submit "Submit", disable_with: 'Submiting...', action: "create_meal", class: "btn btn-danger" %>
    </div>
    <% end %>
</div>