<% provide(:title, "Edit dinner menu") %>
<%= form_for(:lunch_meal,url: create_new_dinner_menu_path) do |f| %>
  <div class="col-md-5">
    <%= f.label :items %>
    <%= f.text_field :items, class: 'form-control'%>
    <br/>
    <%= f.label :cost %>
    <%= f.number_field :cost, class: 'form-control' %>
    <span class="picture">
        <%= f.file_field :picture %>
        </span>
    <%= f.submit "Edit", disable_with: 'Submiting...', action: "update", class: "btn btn-danger" %>
  </div>
<% end %>