<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= will_paginate %>
<div class="row">
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
      <% if !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete, data: {confirm: "You sure?"} %>
        <% end %>
      <% if user.superuser? %>
        <h4><small><mark>(admin)</mark></small></h4>
        <% else %>
        <h5>(<%= link_to "make admin", newadmin_path(:id => user.id),  method: :post,
                         data: {confirm: "You sure?"} %>)</h5>
      <% end %>
    </li>
    <br/>
    <% end %>
</ul>
</div>
<%= will_paginate %>