<% provide(:title, @user.name) %>
<div class="row">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <% if @user.superuser? %>
           (Admin)
        <% end %>
      </h1>
    </section>
    <div class="container">
      <div class="col-md-4">
        <h4><b>User-info</b></h4>
        <h4>email: <%= @user.email %></h4>
        <h4>Phone_no: <%= @user.phone_no %></h4>
        <h4>Religion: <%= @user.religion %></h4>
        <h4>Profession: <%= @user.profession %></h4>
        <h4>Date_of_birth: <%= @user.date_of_birth %></h4>
        <h4>Address: <%= @user.address %></h4>
        <h4><%= link_to "Update profile", edit_user_path(current_user) %></h4>
      </div>
      <div class="col-md-4">
        <h4><b>Account</b></h4>
        <h4>Account balance: <%= "#" %></h4>
        <h4>Expense this month: <%= "#" %></h4>
        <h4>Total meals taken(this month): <%= "#" %></h4>
        <%#= f.label :order_lunch, class="checkbox inline" %>
        <%#= f.checkbox :order_lunch %>
<!--        <span>Order lunch</span>-->
        <%# end %>
      </div>
      <div class="col-md-4">
        <h4><b>Preferences</b></h4>
        <%= render @preferrences %>
      </div>
    </div>
</div>
