<% provide(:title, @user.name) %>
<% if need_balance?(@user) && current_user?(@user)%>
  <% flash[:danger] = "Your account balance is insufficient,please recharge" %>
<% end %>
<div class="row">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <% if @user.superuser? %>
          <small>(Admin)</small>
        <% end %>
      </h1>
    </section>
    <div class="container">
      <div class="col-md-4">
        <h3><i><b>User Info</b></i></h3><br/>
        <h4><b>Email:</b> <%= @user.email %></h4>
        <h4><b>Phone no:</b> <%= @user.phone_no %></h4>
        <h4><b>Religion:</b> <%= @user.religion %></h4>
        <h4><b>Profession:</b> <%= @user.profession %></h4>
        <h4><b>Date of birth:</b> <%= @user.date_of_birth %></h4>
        <h4><b>Address:</b> <%= @user.address %></h4>
      </div>
      <div class="col-md-4">
        <h3><i><b>Account</b></i></h3><br/>
        <h4><b>Account balance:</b> <%= @user.balance %></h4>
        <h4><b>Expense this month:</b> <%= generate_cost_for(@user) %></h4>
        <h4><b>Meals on this month:</b> <%= Lunch.where(:user_id => @user.id).count + Dinner.where(:user_id => @user.id).count %></h4>
      </div>
      <div class="col-md-4">
        <h3><b><i>Preferences</i></b></h3><br/>
        <%= render @preferrences %>
      </div>
    </div>
  <% if current_user.superuser? %>
  <div class="text-right">
    <%= button_to "Update balance", update_balance_path, method: :get, class: 'btn btn-primary'%>
  </div>
 <% end %>

</div>
